form {
    height: 250px;
    text-align: center;
}

form .form-floating {
    margin: 15px;
    width: 300px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.box-form {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
    padding: 35px 35px 55px 35px;
}

.box-form .logo {
    display: flex;
    justify-content: center;
}

.box-form .logo img{
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 15px;
}

.box-form p {
    font-size: 25px;
    font-weight: bold;
}

.box-form button {
    margin-top: 15px;
    width: 125px;
}
