.container-home {
    height: 100%;
    margin-bottom: 25px;
}

.container-home .dashboard-title {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 28px;
    font-weight: 400;
}

.container-home .teams-cards {
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
}

.container-home .new-team {
    height: 55px;
    width: 55px;
    margin: 45px 0px 0px 25px;
    background-color: rgb(138, 136, 136);
    color: white;
    font-size: 50px;  
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home .new-team :hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
    cursor: pointer;
    background-color: rgb(156, 153, 153) !important;
}

