.card {
    width: 13rem;
    height: 10em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
    margin-left: 15px;
}

.card :hover {
    cursor: pointer;
    background-color: rgb(211, 210, 210);
}

.card .card-body {
    text-align: center;
}