.container-configurationroom-card {
    display: 'flex';
    height: '100%';
    width: '100%';
    justify-content: 'center'; 
    align-content: 'center';
}

.container-configurationroom-paper {
    min-width: '400px';
    display: 'inline-block';
    justify-content: 'center';
    align-items: 'center';
    background: '#FFFFFF';
    z-index: 1;
  }